body {
  margin-left: 12rem;
  background: teal;
  font-family: "Nanum Gothic Coding", monospace;
  align-items: center;
}

#drum-pad {
  max-width: 50px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 3px #333;
}
/* #drum-machine {
 

} */
#drum-machine {
  display: grid;
  grid-template-columns: repeat(3, minmax(20px, 100px));
  grid-template-rows: 60px 60px 60px;
  width: 50%;
  grid-gap: 7px;
  margin-top: 50px;
  margin: 12rem;
  padding: 12rem;
}
