.num {
  border: 0;
  background: rgba(42, 50, 113, 0.28);
  color: #6cacc5;
  cursor: pointer;
  float: left;
  font: inherit;
  margin: 0.25em;
}
#calculator {
  max-width: 50px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  box-shadow: 5px 5px 8px 3px #333;
}
